.wrapper {
  text-align: center;
  margin: 10vh 25vh;
}
.btn {
  border: none;
  background-color: cadetblue;
  padding: 2vh 1.7vh;
  color: #fff;
  cursor: pointer;
  border-radius: 8px;
}
.paraWraper {
  display: flex;
}
.image {
  width: 30vh;
  height: 30vh;
  object-fit: cover;
  border-radius: 50%;
}
.animationExample {
  animation-name: animationAppear;
  animation-duration: 4s;
}
@keyframes animationAppear {
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 200px;
    top: 0px;
  }
}
